.idea
.vscode
**/*.tfstate*
*.tfstate*
**/.terraform
.terraform
!**/.terraform-docs.yml
!.terraform-docs.yml
.env
**/terraform.tfvars
terraform.tfvars
**.external_modules/
!**/terraform.tfvars.json
*.tfvars.json
